body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    min-height: 820px;
    height: 100vh;
}

.page-display {
    width: 100%;
    max-width: 1554px;
    min-width: 920px;
    margin: 0 auto auto auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-display .header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.home-button,
.datetime {
    height: 7%;
    margin: 0 20px;
    padding: 0;
    font-size: 1.8em;
    display: inline;
}
.w3-bar {
    width: 100%;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    align-self: center;
    overflow-y: auto;
}

.container::-webkit-scrollbar  {
    display: none;
}

.complet {
    border-bottom: solid 1px;
    height: auto;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.completed {
    margin: 20px auto auto auto;
}

.content {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title-icons {
    display: flex;
    flex-direction: row;
    margin: 15px 0 auto 15px;
    align-items: center;
}

.title-icons .title {
    font-size: 1.4em;
}

.title-icons .icon-group {
    margin: 0 0 auto auto;
    display: none;
}

.complet:hover .title-icons .icon-group {
    display: flex;
}

.description-datetime {
    display: flex;
    flex-direction: row;
    margin: auto 0 10px 20px;
}

.no-goals {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-goals p {
    font-size: 2em;
}

.icon-group {
    margin: auto 0 0 auto;
    display: flex;
    gap: 5px;
}

.icon-swap {
    cursor: pointer;
    display: flex;
}

.icon-swap .hover-icon {
    display: none;
}

.icon-swap:hover .default-icon {
    display: none;
}

.icon-swap:hover .hover-icon {
  display: inline;
}

.hover-pointer {
    cursor: pointer;
}

.icon-swap:has(.add){
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-swap:has(.add):hover {
    background: #f0f0f0;
    transition: background 0.5s;
}

.description-datetime {
    display: flex;
    flex-direction: row;
    margin: auto 0 10px 20px;
}

.description-datetime .task-datetime {
    margin: auto 0 auto auto;
}

.add {
    text-align: center;
}