body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    min-height: 820px;
    height: 100vh;
    overflow-x: auto;
}

.page-display {
    width: 100%;
    max-width: 1554px;
    min-width: 870px;
    margin: 0 auto auto auto;
    height: 100%;
    max-height: 830px;
    display: flex;
    flex-direction: column;
}

.page-display .header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.home-button,
.datetime {
    height: 7%;
    margin: 0 20px;
    padding: 0;
    font-size: 1.8em;
    display: inline;
}

.task-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 68%;
}

.container {
    border: solid 1px;
    border-radius: 5px;
    width: 21%;
    min-width: 290px;
    height: 95%;
    display: flex;
    flex-direction: column;
}

.main-tasks {
    border: solid 1px;
    width: 90%;
    height: 62px;
    font-size: 2.1em;
    margin: 10px auto 0 auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-tasks:hover {
    background: #f0f0f0;
    cursor: pointer;
    transition: background 0.4s;
}

.task-scroll {
    overflow-y: scroll;
    border-radius: 5px;
    flex: 1;
    min-height: 0;
    background: #ffffff;  /* fixes the scroll bug wtf (use it in your internal)*/
}

.task-scroll::-webkit-scrollbar  {
    display: none;
}

.task-item {
    border: solid 1px;
    border-radius: 5px;
    height: auto;
    min-height: 20%;
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.task-title {
    margin: 0 auto auto 5px;
    font-size: 1.3em;
}

.task-description {
    margin: 0px auto auto 5px;
    font-size: 1em;
}

.goals-container {
    height: 32%;
    display: flex;
    justify-content: space-around;
    max-height: 280px;
}

.goals-home{
    margin: auto 0;
    border: solid 1px;
    height: 80%;
    width: 81.5%;
    min-width: 870px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.big-goal {
    border: solid 1px;
    border-radius: 5px;
    height: 80%;
    width: 27%;
    min-width: 240px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.goal-title {
    font-size: 1.8em;
    text-decoration: underline;
    text-align: center;
}

.goal-description {
    text-align: center;
    font-size: 1.1em;
    font-weight: 1;
    overflow-y: hidden;
}

.small-goals-title {
    height: 90%;
    width: 27%;
    min-width: 240px;
    display: flex;
    flex-direction: column;
}

.small-goals-title > p {
    border: solid 1px;
    border-top: none;
    border-radius: 0 0 5px 5px;
    width: 100%;
    margin: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.1em;
}

.small-goals-title > p:hover {
    background: #f0f0f0;
    transition: background 0.5s;
    cursor: pointer;
}

.small-goals-title > div {
    flex: 1;
    margin: auto 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.small-goals-title > div > div {
    border: solid 1px;
    border-radius: 5px;
    width: 45%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.small-goal-title {
    font-size: 1em;
    font-weight: 550;
    text-align: center;
    overflow-y: hidden;
}

.icon-group {
    margin: auto 0 0 auto;
    display: flex;
    gap: 5px;
}

.icon-swap {
    cursor: pointer;
    display: flex;
}

.icon-swap .hover-icon {
    display: none;
}

.icon-swap:hover .default-icon {
    display: none;
}

.icon-swap:hover .hover-icon {
  display: inline;
}

.hover-pointer {
    cursor: pointer;
}

.icon-swap:has(.add){
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-swap:has(.add):hover {
    background: #f0f0f0;
    transition: background 0.5s;
}

.add {
    text-align: center;
}