.sidebar {
    width: 400px;
    border: solid 1px;
    overflow-y: auto;
    direction: rtl; /* Move scrollbar to the left */
}

.sidebar > * {
    direction: ltr; /* Keep content left-to-right */
}

@media (max-width: 1120px) {
    .sidebar {
        display: none;
    }
}

.account-op {
    border: solid 1px;
    border-left: none;
    border-top: none;
    padding: 10px;
    text-align: center;
}

.add-task {
    border: solid 1px;
    border-left: none;
    display: flex;
    align-items: center;         /* Center horizontally */
    justify-content: center;     /* Center vertically */
    height: 70px;
    text-align: center;
}

.add-task-button {
    width: 35px;
    height: 35px;
    font-size: 1.45em;
    border: solid 1px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
}

.add-task-button:hover {
    background: #e0e0e0;
}

.page-button {
    width: 80%;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px 0;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.4s;
}

.page-button:hover {
    background: #e0e0e0;
}