{% extends "completed.html" %}

{% block inner_body %}
    <div class="container">
        {% if results.Completed_tasks %}
            {% for complet in results.Completed_tasks %}
                <div class="complet" id="task-{{ complet['task_id'] }}">
                    <div class="content">
                        <div class="title-icons">
                            <span class="title">{{ complet.title }}</span>
                            <div class="icon-group">
                                <span class="material-symbols-outlined hover-pointer" onclick='openEditModal({{ complet["task_id"] }}, {{ complet["title"]|tojson }}, {{ complet["description"]|tojson }}, {{ complet["start_time"]|tojson }}, {{ complet["all_day"]|tojson }})'>edit</span>
                                <span class="icon-swap">
                                    <span class="material-symbols-outlined default-icon">calendar_today</span>
                                    <span class="material-symbols-outlined hover-icon">Calendar_month</span>
                                </span>
                                <span class="icon-swap">
                                    <span class="material-symbols-outlined default-icon">delete</span>
                                    <span class="material-symbols-outlined hover-icon" onclick="confirmDeleteTask({{ complet['task_id'] }})">delete_forever</span>
                                </span>
                            </div>
                        </div>
                        <div class="description-datetime">
                            {% if complet.description %}
                                <span class="description">{{ complet.description }}</span>
                            {% endif %}
                            <span class="task-datetime">{{ complet.start_time }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
           <div class="no-history">
               <p>No History</p>
            </div>
        {% endif %}
    </div>
{% endblock %}