{% extends "completed.html" %}

{% block inner_body %}
    <div class="container upcomingUpd">
        <span class="text">Upcoming features</span>
        {% if results.Completed_goals %}
            {% for complet in results.Completed_goals %}
                <div class="complet">
                    <span class="icon-swap completed">
                        <span class="material-symbols-outlined default-icon">check_box_outline_blank</span>
                        <span class="material-symbols-outlined hover-icon">check_box</span>
                    </span>
                    <div class="content">
                        <div class="title-icons">
                            <span class="title">{{ complet.title }}</span>
                            <div class="icon-group">
                                <span class="material-symbols-outlined hover-pointer">edit</span>
                                <span class="icon-swap">
                                    <span class="material-symbols-outlined default-icon">calendar_today</span>
                                    <span class="material-symbols-outlined hover-icon">Calendar_month</span>
                                </span>
                                <span class="icon-swap">
                                    <span class="material-symbols-outlined default-icon">delete</span>
                                    <span class="material-symbols-outlined hover-icon">delete_forever</span>
                                </span>
                            </div>
                        </div>
                        <div class="description-datetime">
                            {% if complet.description %}
                                <span class="description">{{ complet.description }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
           <div class="no-history">
               <p>No History</p>
            </div>
        {% endif %}
    </div>
{% endblock %}