{% extends "ongoing_goal.html" %}

{% block inner_links %}
    <link rel="stylesheet" href="{{url_for('static',filename='goals.css')}}">
{% endblock %}

{% block inner_body %}
<div class="goal_container">
    {% if results.Goals[0] %}
        {% for goal in results.Goals %}
            <div class="goals">
                <span class="icon-swap complete">
                    <span class="material-symbols-outlined default-icon">check_box_outline_blank</span>
                    <span class="material-symbols-outlined hover-icon">check_box</span>
                </span>
                <div class="goal-content">
                    <div class="title-icons">
                        <span class="goal-title">{{ goal.title }}</span>
                        <div class="icon-group">
                            <span class="material-symbols-outlined hover-pointer">edit</span>
                            <span class="icon-swap">
                                <span class="material-symbols-outlined default-icon">calendar_today</span>
                                <span class="material-symbols-outlined hover-icon">Calendar_month</span>
                            </span>
                            <span class="icon-swap">
                                <span class="material-symbols-outlined default-icon">delete</span>
                                <span class="material-symbols-outlined hover-icon">delete_forever</span>
                            </span>
                        </div>
                    </div>
                    <div class="description-datetime">
                        {% if goal.description %}
                            <span class="goal-description">{{ goal.description }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="add-goals">
            <span class="icon-swap">
                <span class="material-symbols-outlined default-icon">add</span>
                <span class="material-symbols-outlined hover-icon">add_circle</span>
                <span>Add goal</span>
            </span>
        </div>
    {% else %}
       <div class="no-goals">
           <p>No Goals sett</p>
            <span class="icon-swap">
                <span class="material-symbols-outlined default-icon">add</span>
                <span class="material-symbols-outlined hover-icon">add_circle</span>
                <span>Add Goal</span>
             </span>
       </div>
    {% endif %}
</div>
{% endblock %}