{% extends "layout.html" %}

{% block links %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
{% endblock %}

{% block body %}
<div class="task-container">
    <div class="container">
        <a href="{{ url_for('today') }}" style="text-decoration: none;"><div class="main-tasks">ToDay</div></a>
        <div class="task-scroll">
            {% for task in results.Today_tasks %}
                <div class="task-item">
                    <div class="task-content">
                        <span class="task-title">{{ task.title }}</span>
                        <br>
                        {% if task.description %}
                            <span class="task-description">{{ task.description }}</span>
                        {% endif %}
                    </div>
                    <div class="icon-group">
                        <span class="material-symbols-outlined hover-pointer">edit</span>
                        <span class="icon-swap">
                            <span class="material-symbols-outlined default-icon">check_box_outline_blank</span>
                            <span class="material-symbols-outlined hover-icon">check_box</span>
                        </span>
                        <span class="icon-swap">
                            <span class="material-symbols-outlined default-icon">delete</span>
                            <span class="material-symbols-outlined hover-icon">delete_forever</span>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="main-tasks">Upcoming</div>
        <div class="task-scroll">
            {% for task in results.Upcoming_tasks %}
                <div class="task-item">
                    <div class="task-content">
                        <span class="task-title">{{ task.title }}</span>
                        <br>
                        {% if task.description %}
                            <span class="task-description">{{ task.description }}</span>
                        {% endif %}
                    </div>
                    <div class="icon-group">
                        <span class="material-symbols-outlined hover-pointer">edit</span>
                        <span class="icon-swap">
                            <span class="material-symbols-outlined default-icon">check_box_outline_blank</span>
                            <span class="material-symbols-outlined hover-icon">check_box</span>
                        </span>
                        <span class="icon-swap">
                            <span class="material-symbols-outlined default-icon">delete</span>
                            <span class="material-symbols-outlined hover-icon">delete_forever</span>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="main-tasks">Ongoing</div>
        <div class="task-scroll">
            {% for task in results.Ongoing_tasks %}
                <div class="task-item">
                    <div class="task-content">
                        <span class="task-title">{{ task.title }}</span>
                        <br>
                        {% if task.description %}
                            <span class="task-description">{{ task.description }}</span>
                        {% endif %}
                    </div>
                    <div class="icon-group">
                        <span class="material-symbols-outlined hover-pointer">edit</span>
                        <span class="icon-swap">
                            <span class="material-symbols-outlined default-icon">check_box_outline_blank</span>
                            <span class="material-symbols-outlined hover-icon">check_box</span>
                        </span>
                        <span class="icon-swap">
                            <span class="material-symbols-outlined default-icon">delete</span>
                            <span class="material-symbols-outlined hover-icon">delete_forever</span>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="goals-container">
    <div class="goals-home">
        <div class="big-goal">
            {% if results.Goals[0] %}
                <span class="goal-title">{{ results.Goals[0].title }}</span>
                <span class="goal-description">{{ results.Goals[0].description }}</span>
                <div class="icon-group">
                    <span class="material-symbols-outlined hover-pointer">edit</span>
                    <span class="icon-swap">
                        <span class="material-symbols-outlined default-icon">check_box_outline_blank</span>
                        <span class="material-symbols-outlined hover-icon">check_box</span>
                    </span>
                    <span class="icon-swap">
                        <span class="material-symbols-outlined default-icon">delete</span>
                        <span class="material-symbols-outlined hover-icon">delete_forever</span>
                    </span>
                </div>
            {% else %}
                <span class="icon-swap">
                    <span class="material-symbols-outlined default-icon add">add</span>
                    <span class="material-symbols-outlined hover-icon add">add_2</span>
                </span>
            {% endif %}
        </div>
        <div class="small-goals-title">
            <p>Goals</p>
            <div>
                <div>
                    {% if results.Goals[2] %}
                        <span class="small-goal-title">{{ results.Goals[2].title }}</span>
                        <div class="icon-group">
                            <span class="material-symbols-outlined hover-pointer">edit</span>
                            <span class="icon-swap">
                                <span class="material-symbols-outlined default-icon">check_box_outline_blank</span>
                                <span class="material-symbols-outlined hover-icon">check_box</span>
                            </span>
                            <span class="icon-swap">
                                <span class="material-symbols-outlined default-icon">delete</span>
                                <span class="material-symbols-outlined hover-icon">delete_forever</span>
                            </span>
                        </div>
                    {% else %}
                        <span class="icon-swap">
                            <span class="material-symbols-outlined default-icon add">add</span>
                            <span class="material-symbols-outlined hover-icon add">add_2</span>
                        </span>
                    {% endif %}
                </div>
                <div>
                    {% if results.Goals[3] %}
                        <span class="small-goal-title">{{ results.Goals[3].title }}</span>
                        <div class="icon-group">
                            <span class="material-symbols-outlined hover-pointer">edit</span>
                            <span class="icon-swap">
                                <span class="material-symbols-outlined default-icon">check_box_outline_blank</span>
                                <span class="material-symbols-outlined hover-icon">check_box</span>
                            </span>
                            <span class="icon-swap">
                                <span class="material-symbols-outlined default-icon">delete</span>
                                <span class="material-symbols-outlined hover-icon">delete_forever</span>
                            </span>
                        </div>
                    {% else %}
                        <span class="icon-swap">
                            <span class="material-symbols-outlined default-icon add">add</span>
                            <span class="material-symbols-outlined hover-icon add">add_2</span>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="big-goal">
            {% if results.Goals[1] %}
                <span class="goal-title">{{ results.Goals[1].title }}</span>
                <span class="goal-description">{{ results.Goals[1].description }}</span>
                <div class="icon-group">
                    <span class="material-symbols-outlined hover-pointer">edit</span>
                    <span class="icon-swap">
                        <span class="material-symbols-outlined default-icon">check_box_outline_blank</span>
                        <span class="material-symbols-outlined hover-icon">check_box</span>
                    </span>
                    <span class="icon-swap">
                        <span class="material-symbols-outlined default-icon">delete</span>
                        <span class="material-symbols-outlined hover-icon">delete_forever</span>
                    </span>
                </div>
            {% else %}
                <span class="icon-swap">
                    <span class="material-symbols-outlined default-icon add">add</span>
                    <span class="material-symbols-outlined hover-icon add">add_2</span>
                </span>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}