{% extends "ongoing_goal.html" %}


{% block inner_links %}
    <link rel="stylesheet" href="{{url_for('static',filename='ongoing.css')}}">
{% endblock %}


{% block inner_body %}
    <div class="ongoing-layout">
        <div class="container">
            <div class="title-row">Started Today</div>
            <div class="scroll-tasks">
                {% for tasks in results.Ongoing_tasks %}
                    {% if tasks.start_time[:10].replace(':', '-') ==  user_local_date|string %}
                        <div class="tasks" id="task-{{ tasks['task_id'] }}">
                            <div class="task-content">
                                <span class="task-title">{{ tasks.title }}</span>
                                <br>
                                {% if tasks.description %}
                                    <span class="task-description">{{ tasks.description }}</span>
                                {% endif %}
                            </div>
                            <div class="icon-group">
                                <span class="material-symbols-outlined hover-pointer" onclick='openEditModal({{ tasks["task_id"] }}, {{ tasks["title"]|tojson }}, {{ tasks["description"]|tojson }}, {{ tasks["start_time"]|tojson }}, {{ tasks["all_day"]|tojson }})'>edit</span>
                                <span class="icon-swap">
                                    <span class="material-symbols-outlined default-icon">check_box_outline_blank</span>
                                    <span class="material-symbols-outlined hover-icon" onclick="completeTask({{ tasks['task_id'] }})">check_box</span>
                                </span>
                                <span class="icon-swap">
                                    <span class="material-symbols-outlined default-icon">delete</span>
                                    <span class="material-symbols-outlined hover-icon" onclick="confirmDeleteTask({{ tasks['task_id'] }})">delete_forever</span>
                                </span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="container change week">
            <div class="title-row">Started This Week</div>
            <div class="scroll-tasks">
                {% for day, date in week_days %}
                    {{ day }}
                    {% for tasks in results.Ongoing_tasks %}
                        {% if tasks.start_time[:10].replace(':', '-') ==  date|string %}
                            <div class="tasks" id="task-{{ tasks['task_id'] }}">
                                <div class="task-content">
                                    <span class="task-title">{{ tasks.title }}</span>
                                    <br>
                                    {% if tasks.description %}
                                        <span class="task-description">{{ tasks.description }}</span>
                                    {% endif %}
                                </div>
                                <div class="icon-group">
                                    <span class="material-symbols-outlined hover-pointer" onclick='openEditModal({{ tasks["task_id"] }}, {{ tasks["title"]|tojson }}, {{ tasks["description"]|tojson }}, {{ tasks["start_time"]|tojson }}, {{ tasks["all_day"]|tojson }})'>edit</span>
                                    <span class="icon-swap">
                                        <span class="material-symbols-outlined default-icon">check_box_outline_blank</span>
                                        <span class="material-symbols-outlined hover-icon" onclick="completeTask({{ tasks['task_id'] }})">check_box</span>
                                    </span>
                                    <span class="icon-swap">
                                        <span class="material-symbols-outlined default-icon">delete</span>
                                        <span class="material-symbols-outlined hover-icon" onclick="confirmDeleteTask({{ tasks['task_id'] }})">delete_forever</span>
                                    </span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="container change month">
            <div class="title-row">Started This Month</div>
        </div>
        <div class="container change year">
            <div class="title-row">Started This Year</div>
        </div>
        <div class="container">
            <div class="title-row">To complete</div>
            <div class="scroll-tasks">
                {% for tasks in results.Ongoing_tasks %}
                    {% if tasks.start_time[:10].replace(':', '-') <=  user_local_date|string %}
                        <div class="tasks" id="task-{{ tasks['task_id'] }}">
                            <div class="task-content">
                                <span class="task-title">{{ tasks.title }}</span>
                                <br>
                                {% if tasks.description %}
                                    <span class="task-description">{{ tasks.description }}</span>
                                {% endif %}
                            </div>
                            <div class="icon-group">
                                <span class="material-symbols-outlined hover-pointer" onclick='openEditModal({{ tasks["task_id"] }}, {{ tasks["title"]|tojson }}, {{ tasks["description"]|tojson }}, {{ tasks["start_time"]|tojson }}, {{ tasks["all_day"]|tojson }})'>edit</span>
                                <span class="icon-swap">
                                    <span class="material-symbols-outlined default-icon">check_box_outline_blank</span>
                                    <span class="material-symbols-outlined hover-icon" onclick="completeTask({{ tasks['task_id'] }})">check_box</span>
                                </span>
                                <span class="icon-swap">
                                    <span class="material-symbols-outlined default-icon">delete</span>
                                    <span class="material-symbols-outlined hover-icon" onclick="confirmDeleteTask({{ tasks['task_id'] }})">delete_forever</span>
                                </span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}