{% extends "layout.html" %}


{% block links %}
    <link rel="stylesheet" href="{{url_for('static',filename='ongoing_goal.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    {% block inner_links %}
    {% endblock %}
{% endblock %}

{% block body %}
    <nav class="w3-bar w3-grey">
        <a href="{{ url_for('ongoing') }}" class="w3-bar-item w3-button">Ongoing</a>
        <a href="{{ url_for('goals') }}" class="w3-bar-item w3-button">Goals</a>
    </nav>
    {% block inner_body %}
    {% endblock %}

{% endblock %}