{% extends "layout.html" %}

{% block links %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="{{url_for('static',filename='today.css')}}">
{% endblock %}


{% block body %}
<div class="today-container">
    {% if results.Today_tasks[0] %}
        {% for tasks in results.Today_tasks %}
            <div class="tasks">
                <span class="icon-swap complete">
                    <span class="material-symbols-outlined default-icon">check_box_outline_blank</span>
                    <span class="material-symbols-outlined hover-icon">check_box</span>
                </span>
                <div class="task-content">
                    <div class="title-icons">
                        <span class="task-title">{{ tasks.title }}</span>
                        <div class="icon-group">
                            <span class="material-symbols-outlined hover-pointer">edit</span>
                            <span class="icon-swap">
                                <span class="material-symbols-outlined default-icon">calendar_today</span>
                                <span class="material-symbols-outlined hover-icon">Calendar_month</span>
                            </span>
                            <span class="icon-swap">
                                <span class="material-symbols-outlined default-icon">delete</span>
                                <span class="material-symbols-outlined hover-icon">delete_forever</span>
                            </span>
                        </div>
                    </div>
                    <div class="description-datetime">
                        {% if tasks.description %}
                            <span class="task-description">{{ tasks.description }}</span>
                        {% endif %}
                        <span class="task-datetime">{{ tasks.start_time }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="add-task-today">
            <span class="icon-swap">
                <span class="material-symbols-outlined default-icon">add</span>
                <span class="material-symbols-outlined hover-icon">add_circle</span>
                <span>Add Task</span>
            </span>
        </div>
    {% else %}
       <div class="no-tasks">
           <p>No tasks for today</p>
            <span class="icon-swap">
                <span class="material-symbols-outlined default-icon">add</span>
                <span class="material-symbols-outlined hover-icon">add_circle</span>
                <span>Add Task</span>
             </span>
       </div>
    {% endif %}
</div>
{% endblock %}