{% extends "layout.html" %}

{% block links %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
    <link rel="stylesheet" href="{{url_for('static',filename='upcoming.css')}}">
{% endblock %}

{% block div_for_layout %}
<div class="extra-display">
{% endblock %}

{% block body %}
    <span class="upcoming-title">Upcoming</span>
    <div class="under-title">
        <span class="drop-date">
            <span>{{ user_local_fancy }}</span>
            <span class="icon-swap">
                <span class="material-symbols-outlined default-icon">arrow_left</span>
                <span class="material-symbols-outlined hover-icon">arrow_drop_down</span>
            </span>
        </span>
        <span class="fw-ba-button">
            <span class="material-symbols-outlined hover">chevron_backward</span>
            <span class="reset-today hover">Today</span>
            <span class="material-symbols-outlined hover">chevron_forward</span>
        </span>
    </div>
</div> <!-- Closing div aded to finish page-display div from layout.html -->
<div class="upcoming-tasks">
    {% for day, date in next_7_days %}
        <div class="day">
            <span class="date-upcoming">{{ day }}</span>
            <div class="day-scroll">
                {% for task in results.Upcoming_tasks %}
                    {% if task.start_time[:10].replace(':', '-') == date|string %}
                        <div class="tasks" id="task-{{ task['task_id'] }}">
                            <div class="task-content">
                                <span class="task-title">{{ task.title }}</span>
                                <br>
                                {% if task.description %}
                                    <span class="task-description">{{ task.description }}</span>
                                {% endif %}
                            </div>
                            <div class="icon-group">
                                <span>{{ task.start_time }}</span>
                                <span class="material-symbols-outlined hover-pointer" onclick='openEditModal({{ task["task_id"] }}, {{ task["title"]|tojson }}, {{ task["description"]|tojson }}, {{ task["start_time"]|tojson }}, {{ task["all_day"]|tojson }})'>edit</span>
                                <span class="icon-swap">
                                    <span class="material-symbols-outlined default-icon">check_box_outline_blank</span>
                                    <span class="material-symbols-outlined hover-icon" onclick="completeTask({{ task['task_id'] }})">check_box</span>
                                </span>
                                <span class="icon-swap">
                                    <span class="material-symbols-outlined default-icon">delete</span>
                                    <span class="material-symbols-outlined hover-icon" onclick="confirmDeleteTask({{ task['task_id'] }})">delete_forever</span>
                                </span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="add-task-upcoming" onclick="openAddTaskModal()" class="add-task-button">
                <span class="icon-swap">
                    <span class="material-symbols-outlined default-icon">add</span>
                    <span class="material-symbols-outlined hover-icon">add_circle</span>
                    <span>Add Task</span>
                </span>
            </div>
        </div>
    {% endfor %}
</div>
</div> <!-- Closing div aded to finish extra-display div from div-for-layout block -->
{% endblock %}